PythonFiles/Scanner/bin/runScanner
/__pycache__
/PREV-VERSION/__pycache__
/virtualenvironment
/vir_env
/PythonFiles/__pycache__
*.pyc
PythonFiles/TestFrames/__pycache__/Test1.cpython-39.pyc
__pycache__/
*.py[cod]
/virtenv
*.swp
*.o
*.log
*.json
GUILogs/*
HGCAL_env/bin/
HGCAL_env/lib/
HGCAL_env/lib64
HGCAL_env/share/

